$primary-pink:  #6442fa;
$secondary-pink:  #957efc;
$pink-gradient:  -webkit-linear-gradient(left, #a445b2, #4254fa);
$pink-gradient-hover:  -webkit-linear-gradient(right, #a445b2, #4254fa );
$back:  #fdfdfd;
$white:  #fff;
$login-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.2265, 1.55);
